<button type="submit">submit</button>

<style>
    button {
        background-color: var(--color-surface-submit);
        color: var(--color-text-inverted);
        border: none;
        border-radius: var(--rounded-sm);
        padding: 0.5rem 1rem;
        text-transform: uppercase;
    }
</style>
