<div class="card">
    <slot />
</div>

<style>
    .card {
        /* give card min height and width so it is visible with no content */
        min-block-size: 10px;
        min-inline-size: 10px;
        background-color: var(--color-surface-card);
    }
</style>
