---
import Layout from "@layouts/Layout.astro";
---

<Layout title="About">
    <h1>about</h1>
    <p>
        Lorem ipsum odor amet, consectetuer adipiscing elit. Molestie mauris
        condimentum per fusce, rhoncus id facilisis at. Posuere venenatis
        sollicitudin dis ex; hendrerit porttitor himenaeos duis. Montes diam
        quam nec parturient dictum blandit aliquam penatibus elit. Lacus fusce
        himenaeos convallis vehicula tortor efficitur donec. Odio dapibus
        egestas porta etiam fermentum fermentum dignissim. Eget porttitor
        adipiscing class litora taciti ornare. Pellentesque etiam praesent
        iaculis sapien fringilla nullam. Congue aenean dis sodales, inceptos
        ipsum litora eros ligula.
    </p>
    <p>
        Ullamcorper mauris aptent iaculis augue; dis ex. Consequat potenti purus
        natoque habitant imperdiet maecenas. Risus lacinia maximus, netus vel
        habitasse imperdiet. Urna nunc maecenas nostra; adipiscing justo cursus
        porta. Nibh ac massa primis convallis platea bibendum. Malesuada congue
        dis orci tempor dui mi, erat praesent sollicitudin. Himenaeos eros
        consequat cras potenti nullam ante ultricies ultricies. Per dignissim
        consequat quisque; cubilia tempor dis molestie tellus. Orci natoque
        magnis tellus ullamcorper ex primis vulputate.
    </p>
    <p>
        In hendrerit elit parturient ornare augue fusce. Id ut risus posuere
        gravida nullam parturient. Faucibus facilisi pretium eget congue congue
        mus. Primis commodo lacinia ornare accumsan fringilla proin per auctor.
        Dis tortor torquent curae nostra nunc. Primis leo porta tristique;
        gravida nam tortor adipiscing ante.
    </p>
</Layout>
