---
import SubmitButton from '@components/buttons/SubmitButton.astro';
---

<form method="POST" action="/contact">
    <label for="firstname">first name</label>
    <input type="text" name="firstname" id="firstname" />

    <label for="lastname">last name</label>
    <input type="text" name="lastname" id="lastname" />

    <label for="email">email</label>
    <input type="email" name="email" id="email" />

    <label for="subject">subject</label>
    <input type="text" name="subject" id="subject" />

    <label for="message">message</label>
    <textarea name="message" id="message"></textarea>

    <SubmitButton />
</form>

<style>
    form {
        padding: 1rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
    }
</style>
