---
import ThemeSwitcher from '@components/ThemeSwitcher.astro';
import logoUrl from '@assets/logoipsum.svg?url';
---

<header class="primary-header wrapper">
    <img src={logoUrl} alt="logo" />

    <button class="hamburger-menu" aria-controls="nav" aria-expanded="false">
        <span class="visually-hidden">menu</span>
        menu
    </button>
    <nav id="nav" class="nav">
        <ul role="list">
            <li>
                <a href="/">home</a>
            </li>
            <li>
                <a href="/about">about</a>
            </li>
            <li>
                <a href="/contact">contact</a>
            </li>
        </ul>
    </nav>
    <div class="theme-switcher">
        <ThemeSwitcher />
    </div>
</header>

<style>
    .primary-header {
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-template-areas: 'logo nav theme';
        gap: 1rem;
        padding: 1rem 0;
        width: 100%;
    }

    img {
        grid-area: logo;
    }

    .hamburger-menu {
        grid-area: nav;
        display: none;
    }

    .nav {
        grid-area: nav;
        display: grid;
        place-items: center;
    }

    .theme-switcher {
        grid-area: theme;
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    a {
        text-decoration: none;
    }
</style>
