---
// fonts - MUST BE FIRST
import '@fontsource/roboto';
import '@fontsource-variable/inter';

// global styles - MUST BE SECOND
import '../styles/global.css';

// components
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<script>
    import { theme } from '../store.ts';
    theme.subscribe((current) => {
        const app = document.getElementById('app');
        app?.classList.remove('light', 'dark');
        app?.classList.add(current);
    });
</script>

<html id="app" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>

    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style>
    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            'header'
            'main'
            'footer';
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }
</style>
